<ul class="nav nav-pills nav-stacked legal-sidebar">
  <li><%= active_link_to 'Terms of Use', terms_of_use_path %></li>
  <li><%= active_link_to 'Privacy Policy', privacy_policy_path %></li>
  <li><%= active_link_to 'Event Rules', event_rules_path %></li>
  <li><%= active_link_to 'Cancellation Policy', cancellation_policy_path %></li>
  <li><%= active_link_to 'Refund Policy', refund_policy_path %></li>  
</ul>